
    <% if result.search_provider == "Twitter" %>
        <li class="result-twitter">
          <span class="text"><%= result.text %></span>
        </li>
    <% elsif result.search_provider == "Google" %>
        <li class="result-google">
          <span class="title"><a href="<%= result.link %>"><%= result.title %></</span>
        </li>
    <% end %>
